.slider {
    position: relative;
}

.slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 20px 0;
    width: 100%;
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

img {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 50%;
    margin-right: 10px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
