.slider {
    width: 1000px;
    height: 300px;

    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.slider__container {
    width: 3500px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -500px;
    transition: 0.5s;
}
.slider__container > .slider__item {
    width: 500px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #000;
    padding: 5px;
    float: left;
}
.ln {
    width: 22px;
    height: 37px;
    background: rgba(145, 145, 158, 0.5);
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.ln:hover {
    background: rgba(200, 20, 125, 0.5);
}
.last {
    left: 0;
}
.next {
    right: 0;
}
